/ #photo
/   = image_tag(@main_image)

#title
  Medium: Everyone's Stories

#content
  - @posts.each do |post|
    .posts
      - slug = "somewhere"
      - @collections.each do |collection| 
        - if collection[0] == post["homeCollectionId"]
          - slug = collection[1]["slug"]

      .post_title
        = link_to(post["title"], post_show_path + "?collection_name=" + slug + "&post_id=" + post["id"])
      .post_subtitle
        = post["virtuals"]["snippet"] 

/ #content
/   - @paragraphs.each do |paragraph|
/     .paragraph
/       = paragraph

